<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>REKLAMACJA {{nr_reklamacji}}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='reklamacje.css')}}"
    />
  </head>
  <body>
    <p>
      Dzień dobry <br />
      Zamówienienie 24/0327
    </p>
    <ol>
      {% for i in uwagi_ogolne %}
      <li>{{i}}</li>
      {% endfor %} {% for i in uwagi_ogolne_do_pozycji_dostawie %}
      <li>{{i}}</li>
      {% endfor %} {% for i in uwagi_do_pianek %}
      <li>
        {{i}}
        <ul>
          {% for p in uwagi_do_pianek[i] %}
          <li>Pianka {{p[0]}} {{p[1]}}.</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ol>
  </body>
</html>
