<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIANKI KALENDARZ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .week {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .day {
            width: 18%;
            padding: 10px;
            border: 1px solid #ddd;
            position: relative;
        }

        .date {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 12px;
        }

        .text-container {
            padding: 5px;
        }



    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="week">

                    {% for h in ["TYDZIEN", "PONIEDZIALEK", "WTOREK", "SRODA", "CZWARTEK", "PIATEK"] %}
                    <div class="day">
                        <div class="text-container">
                            {{h}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
       
        {% for  tydzien  in lista_dni%}
            <div class="row">
                <div class="col">
                    <div class="week">
                        {% for dzien in range(tydzien | length) %}
                        <div class="day">
                            <div class="text-container">
                                {% if dzien == 0 %}
                                    <span style="font-size: 25px; font-weight: bold;">{{tydzien[dzien]}}</span>
                                {% else %}
                                    {% if tydzien[dzien] in kal_dos.keys() %}                                        

                                        {% for poz in kal_dos[tydzien[dzien]] %}
                                            {% if poz["DOSTAWCA"] == "OWATY" %}

                                            <ul class="list-group">
                                                <li class="list-group-item">{{poz["DOSTAWCA"]}}</li>
                                                <li class="list-group-item">{{poz["MODELE"]}}</li>
                                            </ul>
                                            {% elif poz["DOSTAWCA"] == "WOLNE" %}
                                                WOLNE
                                            {% else %}

                                            <ul class="list-group">
                                                <li class="list-group-item">{{poz["DOSTAWCA"]}}</li>
                                                <li class="list-group-item">{{poz["NR PARTII"]}}</li>
                                                <li class="list-group-item">{{poz["NR DOS"]}}</li>
                                                <li class="list-group-item">{{poz["MODELE"]}}</li>
                                                <li class="list-group-item">
                                                    <div class="progress">
                                                        <div class="progress-bar" 
                                                                style="{{poz['OBJ'][0]}}"
                                                                role="progressbar" 
                                                                aria-valuenow={{poz['OBJ'][1]}}>{{poz['OBJ'][1]}}</div>
                                                    </div>
                                                </li>
                    
                                            </ul>
                                            {% endif %}

                                        {% endfor %}

                                    
                                    {% endif %}
                               <div class="date">{{tydzien[dzien].strftime("%d-%b")}}</div> 
                               {% endif %}
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
           
        {% endfor %}
   
    </div>
    </div>
</body>

</html>