{% extends "layout_ap.html" %}
{% block content %}
    <div class="container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for r in pap.Tabela_podsumowania_analizy.iterrows()%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{r[0]}}">
                    <div class="card">
                    <h3>{{r[1].MODEL}}</h3>
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse{{r[0]}}" aria-expanded="false" aria-controls="flush-collapse{{r[0]}}">
                        
                        <table class="table align-middle">
                            <thead>
                              <tr>                                
                                <th scope="col">GRUPA</th>                                
                                <th scope="col">WSP ZAM %</th>
                                <th scope="col">OBJ CIECH</th>
                                <th scope="col">OBJ VITA</th>
                                <th scope="col">OBJ PIANPOL</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{ r[1].GRUPA }}</td>                                
                                <td>{{ r[1].WSPL_DO_ZAM }}%</td>
                                <td>{{ r[1].OBJ_CIECH }}</td>
                                <td>{{ r[1].OBJ_VITA }}</td>
                                <td>{{ r[1].OBJ_PIANPOL }}</td>                               
                              </tr>                              
                            </tbody>
                          </table>
                    </button>
                </div>
                </h2>
                <div id="flush-collapse{{r[0]}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{r[0]}}"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">zagrozone {{pap[r[1].MODEL].zagrozone}}</div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

 
{% endblock %}