{% extends "layout_ap.html" %}
{% block content %}
    <div class="container">
        <div class="row mb-3">
            <h3>BRAKI</h3>
            <table class="table align-middle braki">
                <thead>                    
                    <tr>
                        <th>LP</th>
                        {% for th in braki.columns %}
                            <th>{{th}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for tr in braki.iterrows() %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{tr[1].OPIS}}</td>
                            <td>{{tr[1].WOLNE_SALDO}}</td>
                            <td>{{tr[1].PACZKA}}</td>
                            <td>{{tr[1].DATA_KOMPLETACJI}}</td>
                            <td>{{tr[1].ZAMOWIONE}}</td>
                            <td>{{tr[1].UWAGI}}</td>
                            <td>{{tr[1].GRUPA}}</td>                           	
                        </tr>
                    {% endfor %}
                    <tr class="danger"></tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3>PONIZEJ STANU</h3>
            
            <div class="col">

                {% for p in podsumowanie_zagrorzonych %}
                <p>{{p}}</p>
                {% endfor %}
            </div>
            
            <div class="col">
                <table class="table table-hover align-middle">
                    <thead>                    
                        <tr>
                            <th>LP</th>
                            {% for th in zagrozone.columns %}
                                <th>{{th}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tr in zagrozone.iterrows() %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{tr[1].OPIS}}</td>
                                <td>{{tr[1].ZAMOWIONE}}</td>
                                <td>{{tr[1].CZEKA_NA_SPAKOWANIE}}</td>
                                <td>{{tr[1].SALDO}}</td>
                                <td>{{tr[1].MIN}}</td>
                                <td>{{tr[1].WOLNE_SALDO}}</td>
                               
                                              	
                            </tr>
                            
                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <h3>
                PODSUMOWANIE
            </h3>
            <div class="col mt-3">
                {% for key in tabelka %}
                <p>{{key}}: {{tabelka[key]|round(0)}}</p>
                <hr>
                {% endfor %}

            </div>
            <div class="col">
               

            </div>
        </div>
     
       
            
    </div>
 



    <script>

  


        document.addEventListener('DOMContentLoaded', (event) => {
        const tables = document.getElementsByClassName('braki');
        // console.log(tables)

        for (let table of tables) {
        const rows = table.getElementsByTagName('tr');
        for (let row of rows) {
            const cells = row.getElementsByTagName('td');
            
            // Logowanie każdej komórki w wierszu
            for (let i = 0; i < cells.length; i++) {
                console.log(`Komórka ${i}: ${cells[i].textContent.trim()}`);
            }

            // Sprawdzenie, czy wiersz ma co najmniej 8 komórek
            if (cells.length > 7) {
                const grupa = cells[7].textContent.trim();  // Kolumna "GRUPA" ma indeks 7 (lub inny)
                

                // Jeśli "GRUPA" równa 1, zmień tło wiersza na czerwono
                if (parseInt(grupa) === 1) {                    
                    row.classList.add('table-danger')
                }
                else if (parseInt(grupa) === 2){
                    row.classList.add('table-warning')
                }
            }
        }
    }
        
        });
      </script>    
{% endblock %}