{% extends "layout_ap.html" %}
{% block content %}
<table class="table table-hover align-middle podsum">
    <thead>
        <tr>
            {% for h in tabelka_modelu.columns %}
            
            <th>{{h}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in tabelka_modelu.iterrows() %}
                          
        <tr>
          {% for data in row[1] %}
          <td>
            {{data}}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>



<div id="chart_saldo" class="chart"></div>

<div id="chart_wolne" class="chart"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>

    var graphs_saldo = {{graphJSON_Saldo | safe}};
    Plotly.plot('chart_saldo',graphs_saldo,{});

    var graphs_wolne = {{graphJSON_Wolne | safe}};
    Plotly.plot('chart_wolne',graphs_wolne,{});


    document.addEventListener('DOMContentLoaded', (event) => {
    const tables = document.getElementsByClassName('podsum');
    // console.log(tables)

    for (let table of tables){
      const rows = table.getElementsByTagName('tr');
      for (let row of rows) {
        const cells = row.getElementsByTagName('td');
        
        if (cells.length > 8) {
          const wolne = parseInt(cells[9].textContent);
          const stan_min = parseInt(cells[6].textContent);
          
          if ((stan_min > wolne) && (wolne >= 0)) {
            cells[4].style.backgroundColor = 'yellow';
            //nsole.log(cells[0], stan_min, wolne)
          }
          else if ((wolne < 0)){
            cells[4].style.backgroundColor = 'red';
          }
          else{
            cells[4].style.backgroundColor = 'green';
          }
        } 
        

      }
    }
    
    });
  </script>
{% endblock %}