<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('analiza_pianek.index')}}">Analiza Pianek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('analiza_pianek.zestawienie_analizy')}}">Zestawienie Analizy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('analiza_pianek.dodaj_pianki_model')}}">Dodaj Bryly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('analiza_pianek.raport_zamowionych_pianek_i_owat')}}">Propozycja zamowionych <br> pianek i owat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('analiza_pianek.dokumentacja_pianek_numer')}}">Dokumentacja</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
