{% extends "layout_ap.html"%}
{% block content %}
<div class="container">

    <div class="row">
        <h3>PONIZEJ STANU</h3>
        
        <div class="col">     
            <p>{{podsumowanie_zagrorzonych[0]}}</p>
            <p>{{podsumowanie_zagrorzonych[1]}}</p>
            <p>{{podsumowanie_zagrorzonych[2]}}</p>
            <p class="bg-warning">{{podsumowanie_zagrorzonych[3]}}</p>
        </div>
        
        <div class="col">
            <table class="table table-hover align-middle podsum">
                <thead>                    
                    <tr>
                        <th>LP</th>                       
                        <th>OPIS</th>
                        <th>SALDO</th>
                        <th>MIN</th>
                        <th>WOLNE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tr in zagrozone.iterrows() %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{tr[1].OPIS}}</td>
                            <td class="text-center">{{tr[1].SALDO}}</td>
                            <td class="text-center">{{tr[1].MIN}}</td>
                            <td class="text-center">{{tr[1].WOLNE_SALDO}}</td>
                           
                                              
                        </tr>
                        
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    
    </div>
</div>

<script>
  

    document.addEventListener('DOMContentLoaded', (event) => {
    const tables = document.getElementsByClassName('podsum');
    // console.log(tables)

    for (let table of tables){
      const rows = table.getElementsByTagName('tr');
      for (let row of rows) {
        const cells = row.getElementsByTagName('td');
        
        if (cells.length > 3) {
          const saldo = parseInt(cells[2].textContent);
          const stan_min = parseInt(cells[3].textContent);
          
          if ((stan_min > saldo)) {
            
            row.classList.add('table-warning');
            
          }
          
        } 
        

      }
    }
    
    });
  </script>


{% endblock %}