{% extends 'layout_ap.html' %}

{% block content %}
{% if numery_partii %}
<br>
        <form method="POST" style="width: 600px;">
            <div class="d-flex justify-content-start">
                <label for="wybor_nr_partii" style="width: 300;">NR PARTII</label>
                <select name="wybor_nr_partii" class="form-select">
                    {% for nr in numery_partii %}
                    <option value="{{nr}}">{{nr}}</option>
                
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">WYBIERZ</button>
            </div>
        </form>
 <br>
{% endif %}

{% if tabelka %}
<div class="container" id="printableArea">
    <div class="row">
        <div class="col">160.10.10 ZLECENIE CZY JEST MIEJSCE NA MAGAZYNIE</div>
        <div class="col text-center">
            <p>ZAMOWIENIE {{dostawca}} {{data_zamowienia}}</p>
            <p>NR_PARTII {{nr_partii}}</p>
        </div>
        <div class="col text-end">
            <p>NR_ZAM {{nr_zamowienia}} </p>
            <p>PREFEROWANA DATA DOSTAWY {{preferowana_data_dostawy}}</p>
        </div>
    </div>
    <div class="row align-items-center">
        <table class="table">
            <thead>
                <th class="text-end">LP</th>
                <th class="text-center">KOD</th>
                <th class="text-center">OPIS</th>
                <th class="text-center">DO ZAMOWINIENIA</th>
                <th class="text-center">ZIELONA</th>
                <th class="text-center">NIEBIESKA</th>
                <th class="text-center">CZERWONA</th>
                <th class="text-center">ŻÓŁTA</th>
                <th class="text-center">W3</th>
            </thead>
            <tbody>
                {% for r in tabelka %}
                <tr>
                    <td class="text-end">{{loop.index}}</td>
                    <td>{{r[0]}}</td>
                    <td>{{r[1]}}</td>
                    <td class="text-center">{{r[2]}}</td>
                    <td class="text-center">{{r[3]}}</td>
                    <td class="text-center">{{r[4]}}</td>
                    <td class="text-center">{{r[5]}}</td>
                    <td class="text-center">{{r[6]}}</td>
                    <td class="text-center">{{r[7]}}</td>
                </tr>
                {% endfor %}
                
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-end"></td>
                    <td style="border-top: solid;">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col text-center">{{suma_zamowionych_kompletow}}</div>
                            <div class="col text-end">mb</div>
                        </div>
                         
                    </td>
                    <td class="text-center" style="border-top: solid;">{{metry_bierzace[0]}}</td>
                    <td class="text-center" style="border-top: solid;">{{metry_bierzace[1]}}</td>
                    <td class="text-center" style="border-top: solid;">{{metry_bierzace[2]}}</td>
                    <td class="text-center" style="border-top: solid;">{{metry_bierzace[3]}}</td>
                    <td class="text-center" style="border-top: solid;">{{metry_bierzace[4]}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">rolek</td>
                    <td class="text-center">{{"%.0f"|format(rolki_owaty[0])}}</td>
                    <td class="text-center">{{"%.0f"|format(rolki_owaty[1])}}</td>
                    <td class="text-center">{{"%.0f"|format(rolki_owaty[2])}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-4 text-end">         
            {% for ob in obietosc_zam %}
                {% if obietosc_zam[ob] > 0 %}
                <p>OBIETOSC ZAMOWIENIA {{ob}} : {{"%.0f"|format(obietosc_zam[ob])}}M3</p>
                {% endif %}
            {% endfor %}
         
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container">
    <a href="javascript:void(0);" class="btn btn-primary" onclick="printPageArea('printableArea')">DRUKUJ</a>
    <form method="POST">
        <button type="submit" class="btn btn-primary" name="akceptacja_zamowienia">AKCEPTACJA ZAMOWIENIA</button>
    </form>
</div>

{% else %}
    PUSTO!!
{% endif %}
<script>
    function printPageArea(areaID){
        var printContent = document.getElementById(areaID).innerHTML;
        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;
        window.print();
        document.body.innerHTML = originalContent;
    }
</script>


{% endblock %}