<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raporty</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='zlecenia_owat_pianek.css')}}">
</head>

<body style="background-color: darkgray;">
    Raporty
    <form method="post">
               
    </form>

    <!-- <br>
    <div class="strona">
        <div class="naglowek">
            <div class="dir">160.10.20 ZLECENIE ROZKROJ OWAT/AMALFI</div>
            <div class="zlec_prod">ZLECENIE PRODUKCYJNE: WYDZIAŁ ROZKRÓJ OWAT</div>
            <div class="data">DZIEN WYDRUKU: 2024-05-14</div>
        </div>
    </div> -->

</body>

</html>