{% extends "layout_ap.html" %}
{% block content %}
    <div class="container">
      <div class="row"><div class="col">
        <h3>M3 DO ZAMOWIENIA</h3>
        <p>
        CIECH: {{pap.Podsumowanie_obietosci_pianek["OBJ_CIECH"].round(0)}} M3        
      </p>
      <p>
        VITA: {{pap.Podsumowanie_obietosci_pianek["OBJ_VITA"].round(0)}} M3        
      </p>
      <p>
        PIANPOL: {{pap.Podsumowanie_obietosci_pianek["OBJ_PIANPOL"].round(0)}} M3        
      </p>
      <p>
        SIGMA: {{pap.Podsumowanie_obietosci_pianek["RAZEM"].round(0)}} M3        
      </p>
    </div>
      <div class="col"> 
          <h3>LEGENDA WOLNE:</h3> 
          <p>KOLOR ŻUŁTY: STAN WOLNY PONIZEJ STANU MINIMALNEGO 50%</p>
          <p>KOLOR CZERWONY: STAN WOLNY RÓWNY LUB MNIEJSZY OD 0</p>
          <h3>LEGENDA WSP ZAM%:</h3> 
          <p>KOLOR ŻUŁTY: STANY WOLNE PONIZEJ OD SATNÓW MINIMALNYCH O 30%</p>
          <p>KOLOR CZERWONY: STANY WOLNE PONIŻEJ 50% STANÓW MAXYMALNYCH</p>
        
      </div></div>
      
        
      <table class="table table-hover align-middle">
        <thead>
          <tr>   
            <th scope="col">MODEL</th>                                
            <th scope="col">GRUPA</th>     
            <th scope="col">MAX_obj</th>     
            <th scope="col">MIN_obj</th>     
            <th scope="col">WOLNE_obj</th>     
            <th scope="col">WSP ZAM %</th>
            <th scope="col">OBJ CIECH</th>
            <th scope="col">OBJ VITA</th>
            <th scope="col">OBJ PIANPOL</th>
            <th scope="col">#</th>
            
          </tr>
        </thead>
        <tbody>
          {% for r in pap.Tabela_podsumowania_analizy.iterrows()%}
          <tr>

            <td>{{ r[1].MODEL }}</td>                                
            <td>{{ r[1].GRUPA }}</td>                                
            <td>{{ r[1].MAX_obj }}</td>                                
            <td>{{ r[1].MIN_obj }}</td>                                
            <td>{{ r[1].WOLNE_obj }}</td>                                
            <td><span>{{ r[1].WSPL_DO_ZAM |round(0)}}</span>%</td>     
            <td>{{ r[1].OBJ_CIECH |round(0) }}</td>
            <td>{{ r[1].OBJ_VITA |round(0)}}</td>
            <td>{{ r[1].OBJ_PIANPOL |round(0)}}</td>                               
            <td><a href="{{url_for('analiza_pianek.analiza_modelu', model=r[1].MODEL)}}" class="btn btn-primary">ANALIZA MODELU</a></td>                               
          </tr>                              
          {% endfor %}
        </tbody>
      </table>
               
    </div>
      <script>

  


        document.addEventListener('DOMContentLoaded', (event) => {
        const tables = document.getElementsByClassName('table');
        // console.log(tables)

        for (let table of tables){
          const rows = table.getElementsByTagName('tr');
          for (let row of rows) {
            const cells = row.getElementsByTagName('td');
            const spans = document.querySelectorAll('table tbody tr td span');

            spans.forEach(function(span) {
    console.log(span.textContent); // Wyświetli wartość procentową z elementu span
});

            if (cells.length > 8) {
              const wolne = parseInt(cells[4].textContent);
              const stan_min = parseInt(cells[3].textContent);
              
              

              if ((stan_min > wolne) && (wolne > 0)) {
                cells[4].style.backgroundColor = 'yellow';
                //nsole.log(cells[0], stan_min, wolne)
              }
              else if ((wolne <= 0)){
                cells[4].style.backgroundColor = 'red'; 
              }
              
              else{
                cells[4].style.backgroundColor = 'green';
                cells[4].style.color = 'white';
              }
            } 
            

          }
        }
        
        });
      </script>
 
{% endblock %}