<div calss="card">
    <form method="POST">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">MODEL</th>
            <th scope="col">BRYLA</th>
            <th scope="col">ILOŚĆ</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for z_model in z_pianki %}
          {% for b in z_pianki[z_model] %}
          <tr>
            <td>{{z_model}}</td>
            <td>{{b}}</td>
            <td>{{z_pianki[z_model][b]}}</td>
            
            <td>
              <label
                for="del_{{z_model}}_{{b}}"
                class="visually-hidden"
              ></label>
              <button
                type="submit"
                name="del_{{z_model}}_{{b}}"
                class="btn btn-danger"
              >
                USUŃ
              </button>
            </td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
  <form method="post">
    <label for="wyczysc_bryly" class="visually-hidden"></label>
    <button type="submit" class="btn btn-primary" name="wyczysc_bryly">
      Wyczyść Bryły
    </button>
  </form>