<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dodaj pianki</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <form method="POST">
    <label for="model">MODEL: </label>
    <select name="model" id="lista_modeli">
      {% for m in lista_modeli %}
      <option value={{m}}>{{m}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary btn-sm">PRZEJDZ DO BRYŁ</button>
  </form>
  <div class="container">


    <div calss="card">
      <form method="POST">
      <table class="table table-striped">
        <thead>
          <tr>

            <th scope="col">MODEL</th>
            <th scope="col">BRYLA</th>
            <th scope="col">ILOŚĆ</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

          {% for b in zam_pianki%}
          <tr>

            <td>{{b[1][0]}}</td>
            <td>{{b[1][1]}}</td>
            <td>{{b[1][2]}}</td>
            <!-- <td>
              <input type="number" class="form-control" name="ile" min="0" step="1" value="{{b[1][2]}}">
            </td> -->
            <td>
            
                <label for="del_{{b[1][0]}}_{{b[1][1]}}" class="visually-hidden"></label>
                <button type="submit" name="del_{{b[1][0]}}_{{b[1][1]}}" class="btn btn-danger">USUŃ</button>
              
            </td>

          </tr>
          {% endfor%}
        </tbody>
      </table>
      </form>
    </div>
    <form method="post">
      <label for="wyczysc_bryly" class="visually-hidden"></label>
      <button type="submit" class="btn btn-primary" name="wyczysc_bryly">Wyczyść Bryły</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>