<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIANKI KALENDARZ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .week {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .day {
            width: 18%;
            padding: 10px;
            border: 1px solid #ddd;
            position: relative;
        }

        .date {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 12px;
        }

        .text-container {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="week">
                    <div class="day">
                        <div class="text-container">
                            TYDZIEN
                        </div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            PONIEDZIALEK
                        </div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            WTOREK
                        </div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            SRODA
                        </div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            CZWARTEK
                        </div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            PIATEK
                        </div>
                    </div>

           
                </div>
       
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="week">
                    <div class="day">
                        <div class="text-container">
                            11
                        </div>
                        <!-- <div class="date">10-Mar</div> -->
                    </div>
                    <div class="day">
                        <div class="text-container">
                            Lorem ipsum dolor sit amet conse
                        </div>
                        <div class="date">11-Mar</div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                           
                        </div>
                        <div class="date">12-Mar</div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            
                        </div>
                        <div class="date">13-Mar</div>
                    </div>
                    <div class="day">
                        <div class="text-container">
                            
                        </div>
                        <div class="date">14-Mar</div>
                    </div>
                    <div class="day">
                        <ul class="list-group">
                            <li class="list-group-item">PAINPOL</li>
                            <li class="list-group-item">NR_PARTII 08/11</li>
                            <li class="list-group-item">DOS 24/0151</li>
                            <li class="list-group-item">AVA, OXY, MAX</li>
                            
                        </ul>
                        <div class="date">15-Mar</div>
                    </div>

                    
                </div>
          
            </div>
            <div class="week">
                <div class="day">
                    <div class="text-container">
                        12
                    </div>
   
                </div>
                <div class="day">
                    <div class="text-container">
                        Lorem ipsum dolor sit amet conse
                    </div>
                    <div class="date">18-Mar</div>
                </div>
                <div class="day">
                    <div class="text-container">
                       
                    </div>
                    <div class="date">19-Mar</div>
                </div>
                <div class="day">
                    <div class="text-container">
                        
                    </div>
                    <div class="date">20-Mar</div>
                </div>
                <div class="day">
                    <div class="text-container">
                        
                    </div>
                    <div class="date">21-Mar</div>
                </div>
                <div class="day">
                    <ul class="list-group">
                        <li class="list-group-item">VITA</li>
                        <li class="list-group-item">NR_PARTII 09/11</li>
                        <li class="list-group-item">DOS 24/0299</li>
                        <li class="list-group-item">STO, HOR</li>
                        
                    </ul>
                    <div class="date">22-Mar</div>
                </div>

            
            </div>
            
        </div>
        </div>
    </div>
</body>

</html>