{% extends "layout_pod.html" %} {% block content %}
<table class="table">
    <thead>
        <tr>
            <th>LP</th>
            <th></th>
            <th>PP 14/01</th>
            <th>PP 14/01 <br> 100% SIL</th>
            <th>PP 15/03 I 04</th>
            <th>PP 15/01</th>
            <th>PP 16/03 I 04</th>
            <th>PP 16/01</th>
            <th>PP 16/02 <br> SAMOA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>DOSTAWA OR-SAT POD ZAMÓWIENIE</td>
            <td>570</td>
            <td>6</td>
            <td>6</td>
            <td>467</td>
            <td>10</td>
            <td>328</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>DOSTAWA OR-SAT NA MAGAZYN</td>
            <td>34</td>
            <td></td>
            <td></td>
            <td>21</td>
            <td></td>
            <td>2</td>
            <td>60</td>
        </tr>
        <tr>
            <td>3</td>
            <td>DOSTAWA OR-SAT W SUMIE</td>
            <td>604szt <br> 151min</td>
            <td>6szt <br> 2min</td>
            <td>6szt <br> 2min</td>
            <td>488szt <br> 122min</td>
            <td>10szt <br> 3min</td>
            <td>330szt <br> 83min</td>
            <td>60szt <br> 15min</td>
        </tr>
        <tr>
            <td>4</td>
            <td>POBRANIE Z MAGAZYNU 01 - ORSAT</td>
            <td>9</td>
            <td></td>
            <td></td>
            <td>18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>POBRANIE Z MAGAZYNU 01 - CIERNIEWSKI</td>
            <td>29</td>
            <td></td>
            <td></td>
            <td>78</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>POBRANIE Z MAGAZYNU 11 - ORSAT</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>DOSTAWA LEDA</td>
            <td>514</td>
            <td></td>
            <td></td>
            <td>221</td>
            <td></td>
            <td>412</td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>DOSTAWA CIERNIEWSKI</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>KOMPLETOWANE W SUMIE</td>
            <td>1122szt <br> 1459min</td>
            <td>6szt <br> 8min</td>
            <td>6szt <br>      8min</td>
            <td>784szt  <br> 1019min</td>
            <td>10szt <br> 13min</td>
            <td>740szt  <br> 962min</td>
            <td>0szt <br> 0min</td>
        </tr>
        <tr>
            <td>9</td>
            <td>ZWROT ORSAT</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td>DATA DOSTAWY ORSAT</td>
            <td>09.05</td>
            <td>09.05</td>
            <td>09.05</td>
            <td>16.05</td>
            <td>16.05</td>
            <td>23.05</td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>DATA DOSTAWY LEDA</td>
            <td>10.05 <br> PP 13 14 <br>514SZT</td>
            <td></td>
            <td></td>
            <td>17.05 <br> PP 15 16 <br>633SZT</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
