{% extends "layout_wp.html" %} {% block content %}
<div class="container-fluid">
  <div id="chart" class="chart"></div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>LP</th>
        <th>NR_SAMOCHODU</th>
        <th>DATA ZAMOWIENIA</th>
        <th>CZAS OCZEKIWNIA NA POTWIERDZENIE</th>
        <th>DATA POTWIERDZENIA</th>
        <th>DATA DOSTAWY</th>
        <th>NR_PARTII</th>        
        <th>STATUS</th>
        <th>OBIETOSC SAMOCHODU</th>
        <th>PRZEJDŹ DO DOSTAWY</th>
      </tr>
    </thead>
    <tbody>
      {% for d in tabelka_dostawy_pianek %}
      <tr>
        <td>{{loop.index}}</td> <!--lp-->
        <td>{{d[5]}}</td> <!--nr sam-->
        <td>{{d[0]}}</td> <!--data zamowienia-->
        <td>{{d[1]}}</td> <!--oczekiwanie-->
        <td>{{d[2]}}</td> <!--data potw-->
        <td>{{d[3]}}</td> <!--data dostawy-->
        <td>{{d[4]}}</td> <!--nr partii-->
        
        <td>{{d[6]}}</td> <!--status-->
        <td>{{d[7]}}</td> <!--obietosc-->
        <td>{{d[8]}}</td>
        <td><button>
          <a href="{{url_for('wydzial_pianek.przyjecie_dostawy', nr_samochodu=d[5])}}">CLICK!!</a>
        </button></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}
