{% extends "layout_wp.html" %} {% block content %}
  <table class="table table-striped-columns table-hover">
    <thead style="position: sticky; top: 0">
      <tr>
        <th>ZNACZNIK DOSTAWCY</th>
        <th>ZAM1</th>
        <th>ZAM2</th>
        <th>MODEL</th>
        <th>NR KOMPLETCJI</th>
        <th>OPIS</th>
        <th>ZAMOWIONE</th>
        <th>LENIWA</th>
        <th>LENIWA SKOS</th>
        <th>OWATY</th>
        <th>STATUS KOMPLETACJA</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%for r in plan_pracy["plan_pracy"]%}
      <tr>
        <td>{{r["znacznikDostawcy"]}}</td>
        <td>{{r["zam1"]}}</td>
        <td>{{r["zam2"]}}</td>
        <td>{{r["model"]}}</td>
        <td>{{r["nrKompletacji"]}}</td>
        <td>{{r["opis"]}}</td>
        <td>{{r["zamowione"]}}</td>
        <!-- leniwa -->
        {% if r["leniwa"] == 'ND' %}
        <td>{{r["leniwa"]}}</td>
        {% else %}
        <td>
          {{r["leniwa"]}}
          <form method="POST">
            <label for="leniwa_{{r['lp']}}"></label>
            <button type="submit" name="lewniwa_{{r['lp']}}">ZAKONCZONO</button>
          </form>
        </td>
        {% endif %}
        <!-- leniwa skos -->
        {% if r["leniwaSkos"] == 'ND' %}
        <td>{{r["leniwaSkos"]}}</td>
        {% else %}
        <td>
          {{r["leniwaSkos"]}}
          <form method="POST">
            <label for="leniwaSkos_{{r['lp']}}"></label>
            <button type="submit" name="leniwaSkos_{{r['lp']}}">ZAKONCZONO</button>
          </form>
        </td>
        {% endif %}
        <!-- owaty -->
        {% if r["owaty"] == 'ND' %}
        <td>{{r["owaty"]}}</td>
        {% else %}
        <td>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">{% if r["owaty"][0] != "" %}
              WYDANE: {{r["owaty"][0]}}
              {% else %}
              <form method="POST">
                <label for="owatyWydane_{{r['lp']}}"></label>
                <button type="submit" name="owatyWydane_{{r['lp']}}">WYDANO</button>
              </form>
              {% endif%}
            </li>
            <li class="list-group-item">{% if r["owaty"][1] != "" %}
              WYCIETE: {{r["owaty"][1]}}
              {% else %}
              <form method="POST">
                <label for="owatyWyciete_{{r['lp']}}"></label>
                <button type="submit" name="owatyWyciete_{{r['lp']}}">WYCIETO</button>
              </form>
              {% endif%}
            </li>
            <li class="list-group-item">{% if r["owaty"][2] != "" %}
              SKOMPLETOWANO: {{r["owaty"][2]}}
              {% else %}
              <form method="POST">
                <label for="owatyKompletacja_{{r['lp']}}"></label>
                <button type="submit" name="owatyKompletacja_{{r['lp']}}">ZAKONCZONO</button>
              </form>
              {% endif%}
            </li>
          </ul>
        </td>
        {% endif %}
        <td>{{r["statusKompletacja"]}}</td>
        <td>
          <form method="POST">
            <label for="kj_{{r['lp']}}"></label>
            <button type="submit" name="kj_{{r['lp']}}">KJ</button>
          </form>
        </td>
        <td>
          <form method="POST">
            <label for="edytuj_{{r['lp']}}"></label>
            <button type="submit" name="edytuj_{{r['lp']}}">EDYTUJ</button>
          </form>
        </td>
        </td>
        <td>
          <form method="POST">
            <label for="zakonczono_{{r['lp']}}"></label>
            <button type="submit" name="zakonczono_{{r['lp']}}">ZAKONCZONO</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}