{% extends "layout_wp.html" %} {% block content %}
  <table class="table table-striped-columns table-hover">
    <thead style="position: sticky; top: 0">
      <tr>
        <th>ZNACZNIK DOSTAWCY</th>
        <th>ZAM1</th>
        <th>ZAM2</th>
        <th>MODEL</th>
        <th>NR KOMPLETCJI</th>
        <th>OPIS</th>
        <th>ZAMOWIONE</th>
        <th>LENIWA</th>
        <th>LENIWA SKOS</th>
        <th>OWATY WYDANO</th>
        <th>OWATY WYCIETO</th>
        <th>OWATY KOMPLETACJA</th>
        <th>STATUS KOMPLETACJA</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%for r in plan_pracy["plan_pracy"]%}
      <tr>
        <td>{{r["znacznikDostawcy"]}}</td>
        <td>{{r["zam1"]}}</td>
        <td>{{r["zam2"]}}</td>
        <td>{{r["model"]}}</td>
        <td>{{r["nrKompletacji"]}}</td>
        <td>{{r["opis"]}}</td>
        <td>{{r["zamowione"]}}</td>
        <!-- leniwa -->
        {% if r["leniwa"] == 'ND' %}
        <td>{{r["leniwa"]}}</td>
        {% else %}
        <td>
          {{r["leniwa"]}}
          <form method="POST">
            <label for="leniwa_{{r['lp']}}"></label>
            <button type="submit" name="lewniwa_{{r['lp']}}">ZAKONCZONO</button>
          </form>
        </td>
        {% endif %}
        <!-- leniwa skos -->
        {% if r["leniwaSkos"] == 'ND' %}
        <td>{{r["leniwaSkos"]}}</td>
        {% else %}
        <td>
          {{r["leniwaSkos"]}}
          <form method="POST">
            <label for="leniwaSkos_{{r['lp']}}"></label>
            <button type="submit" name="leniwaSkos_{{r['lp']}}">ZAKONCZONO</button>
          </form>
        </td>
        {% endif %}
        <!-- owaty -->
        <td>{{r["owatyWydano"]}}</td>
        <td>{{r["owatyWycieto"]}}</td>
        <td>{{r["owatyKompletacja"]}}</td>
        
        <!-- kompletacja -->
        <td>{{r["statusKompletacja"]}}</td>
        <td>
          <form method="POST">
            <label for="kj_{{r['lp']}}"></label>
            <button type="submit" name="kj_{{r['lp']}}">KJ</button>
          </form>
        </td>
        <td>
          <form method="POST">
            <label for="edytuj_{{r['lp']}}"></label>
            <button type="submit" name="edytuj_{{r['lp']}}">EDYTUJ</button>
          </form>
        </td>
        </td>
        <td>
          <form method="POST">
            <label for="zakonczono_{{r['lp']}}"></label>
            <button type="submit" name="zakonczono_{{r['lp']}}">ZAKONCZONO</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}