{% extends "layout_wp.html" %} {% block content %}
<div class="container-fluid">
  <div id="chart" class="chart"></div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>LP</th>
        <th>TYDZIEN</th>
        <th>DATA ZAMOWIENIA</th>
        <th>DATA POTWIERDZENIA</th>
        <th>NR_SAMOCHODU</th>
        <th>STATUS</th>

        <th>OBIETOSC SAMOCHODU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2415</td>
        <td>2024-03-05</td>
        <td>2024-03-10</td>
        <td>PIANPOL 10_24</td>
        <td>NIE POTWIERDZONY</td>
        <td>70</td>
      </tr>
      <tr>
        <td>2</td>
        <td>2413</td>
        <td>2024-03-05</td>
        <td>2024-03-10</td>
        <td>VITA 8_24</td>
        <td>NIE POTWIERDZONY</td>
        <td>90</td>
      </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}
